.followPostsContainer {
    padding: 15px;
    color: white;

    .titleMenu {
        background: linear-gradient(180deg, rgba(255, 255, 255, .04), rgba(255, 255, 255, .02));
        border: 1px solid var(--pf-border);
        border-radius: 14px;
        max-width: max-content;
        padding: 10px;
        backdrop-filter: blur(15px);
        cursor: default;
    }
}