.discussions {
    background-color: #212121;
    width: 100%;
    color: white;
    max-height: 92vh;
    overflow: scroll;
    overflow-x: hidden;
    padding: 15px;

    .titleMenu {
        background: linear-gradient(180deg, rgba(255, 255, 255, .04), rgba(255, 255, 255, .02));
        border: 1px solid var(--pf-border);
        border-radius: 14px;
        max-width: max-content;
        padding: 10px;
        backdrop-filter: blur(15px);
        cursor: default;
    }
}

.profilePicSkeleton {
    height: 50px;
    width: 50px;
}

.nameAndTimeSkeleton {
    width: 200px;
    height: 17px;
}

.discussionTextSkeleton {
    width: 300px;
    height: 17px;
}

.voteCounterSkeleton {
    width: 110px;
    height: 40px;
}

.commentCounterSkeleton {
    width: 80px;
    height: 40px;
}

.replySkeleton {
    width: 95px;
    height: 30px;
}

.skeleton {
    background-image: linear-gradient(90deg,
            #444 0px,
            rgba(160, 160, 160, 0.9) 40px,
            #444 80px);
    background-size: 300%;
    background-position: 100% 0;
    animation: shimmer 1.5s infinite;
    border-radius: 8rem;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #6A5BCD;
    border-radius: 5px;
}