.containerPostDetail {
    display: flex;
    align-items: center;
    padding-top: 40px;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;

    .nameSkeleton {
        width: 80px;
        height: 15px;
    }

    .imageAndDiscussion {
        display: flex;
        align-items: start;
        gap: 10px;
        margin: 0 auto;
        width: 50%;

        img {
            width: 50px;
            border-radius: 50px;
        }

        .discussionHolder {
            display: flex;
            flex-direction: column;
            justify-content: start;
            gap: 5px;
            width: 100%;

            .nameTimeIcon {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .nameAndTime {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    span {
                        color: gray;
                        font-size: 13px;
                    }

                    .displayName {
                        color: hsl(248, 53%, 58%);
                    }
                }

                svg {
                    font-size: 20px;
                    cursor: pointer;
                    padding: 5px 10px;
                    border-radius: 20px;
                    color: white;
                    transition: .2s;

                    &:hover {
                        background-color: #303233;
                    }
                }
            }

            .discussionText {
                color: white;
                margin-bottom: 5px;
            }

            .discussionStatistics {
                display: flex;
                align-items: center;
                gap: 10px;
                color: gray;
                font-size: 13px;

                p {
                    display: flex;
                    align-items: center;
                    font-weight: 500;
                }

                .voteCounter {
                    display: flex;
                    gap: 10px;
                    background-color: #303233;
                    padding: 5px 10px;
                    border-radius: 20px;
                    color: white;

                    svg {
                        font-size: 17px;
                        padding: 5px 8px;
                        border-radius: 20px;
                        cursor: pointer;
                        transition: .2s;

                        &:hover {
                            background-color: #424446;
                        }
                    }

                    p {
                        font-size: 14px;
                    }
                }

                .commentCounter {
                    display: flex;
                    gap: 5px;
                    background-color: #303233;
                    padding: 5px 10px;
                    border-radius: 20px;
                    font-size: 14px;
                    color: white;

                    svg {
                        font-size: 17px;
                        padding: 5px;
                        border-radius: 20px;
                    }
                }
            }
        }
    }

    .commentInput {
        width: 50%;
        padding: 10px;
        background-color: #303233;
        border: none;
        border-radius: 8rem;
    }

    .quillAndButton {
        display: flex;
        flex-direction: column;
        align-items: end;
        background-color: #303233;
        border-radius: 20px;
        width: 690px;
        padding: 5px;
        min-height: max-content;
        color: white;
        min-height: max-content;

        .quill {
            width: 100%;
        }

        .ql-toolbar {
            width: 100%;

            &.ql-snow {
                border: none;
            }

            .ql-fill {
                fill: #bbb;
            }

            .ql-stroke {
                stroke: #bbb;
            }

            .ql-active {
                .ql-stroke {
                    stroke: #6D54B5;
                }
            }
        }

        .ql-container {
            min-height: 150px;

            &.ql-snow {
                border: none;
            }
        }

        .ql-editor {
            font-size: 16px;

            &::before {
                color: #bbb !important;
                font-style: italic;
            }
        }

        .postButton {
            padding: 10px;
            border: none;
            border-radius: 8rem;
            background-color: #212121;
            color: white;
            font-weight: 500;
            transition: .2s;
            z-index: 1;
            cursor: pointer;

            &:hover {
                background-color: #424446;
            }
        }
    }

    .commentsSection {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: white;

        .nameCommentSkeleton {
            width: 23%;
            height: 15px;
        }

        .profilePicSkeleton {
            width: 55px;
            height: 50px;
            border-radius: 8rem;
        }

        .timeSkeleton {
            width: 120px;
            height: 15px;
        }

        .contentSkeleton {
            width: 50%;
            height: 15px;
        }

        .likesSkeleton {
            width: 60px;
            height: 15px;
        }

        .flexingSkeletonHolder{
            display: flex;
            gap: 5px;
        }
    }
}