.individualDiscussion{
    border: 1px solid rgb(75, 75, 75);
    border-radius: 20px;
    padding: 15px;
    margin: 15px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.7);
    transition: ease-out .3s;
    cursor: pointer;
    .dicussionContainer{
        display: flex;
        align-items: start;
        justify-content: space-between;
        .imageAndDiscussion{
            display: flex;
            align-items: start;
            gap: 10px;
            img{
                width: 50px;
                border-radius: 50px;
            }
            .discussionHolder{
                display: flex;
                flex-direction: column;
                justify-content: start;
                gap: 5px;
                .nameAndTime{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    span{
                        color: gray;
                        font-size: 13px;
                    }
                    .displayName{
                        color: #6D54B5;
                    }
                }
                .discussionText{
                    font-size: 18px;
                }
                .discussionStatistics{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    color: gray;
                    font-size: 13px;
                    p{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                    }
                }
            }
        }
        button{
            background-color: #303233;
            color: white;
            border: none;
            border-radius: 20px;
            padding: 7px 13px;
            font-weight: 500;
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 16px;
            box-shadow: inset 0 0 0 0 #725AC1;
            transition: ease-in-out 0.5s;
            cursor: pointer;
            &:hover{
                box-shadow: inset 0 -100px 0 0 #725AC1;
            }
        }
    }
    &:hover{
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 1);
    }
}