.message {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;

    .messageInfo {
        display: flex;
        flex-direction: column;

        span {
            color: #bbb;
            font-weight: 300;
            font-size: 13px;
        }

        img {
            height: 40px;
            width: 40px;
            border-radius: 8rem;
            object-fit: cover;
        }
    }

    .messageContent {
        max-width: 80%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        p {
            background-color: white;
            padding: 10px;
            border-radius: 0 10px 10px 10px;
            max-width: max-content;
        }

        img {
            width: 50%;
        }
    }

    &.owner {
        flex-direction: row-reverse;

        .messageContent {
            align-items: flex-end;

            p {
                background-color: #6A5BCD;
                color: white;
                border-radius: 10px 0 10px 10px;
            }
        }

    }
}

@media screen and (max-width: 768px) {
    .message {
        gap: 5px;

        .messageInfo {
            img {
                display: none;
            }
        }

        .messageContent {
            img {
                width: 90%;
            }
        }
    }
}